<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Small Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!-- Navbar Fragment-->
<div th:replace="fragments/navbar.html :: nav"></div>
<!-- Page Content-->
<div class="container mt-2 mb-2 px-4 px-lg-5">

    <form method="post" th:action="@{/film/ajouter}" th:object="${filmForm}" >
        <div class="mb-3">
            <label for="titre" class="form-label">Titre du film</label>
            <input th:field="*{titre}" type="text" class="form-control" id="titre" aria-describedby="titreHelp">

        </div>

        <div class="mb-3">
            <label for="titre" class="form-label">Synopsis du film</label>
            <textarea  th:field="*{synopsis}" type="text" class="form-control" id="synopsis" aria-describedby="titreHelp"></textarea>

        </div>

        <div class="mb-3">
            <label for="annee" class="form-label">Année du film</label>
            <input  th:field="*{annee}" min="1600"  type="number" class="form-control" id="annee" aria-describedby="anneeHelp">

        </div>

        <div class="mb-3">
            <label for="duree" class="form-label">Durée du film</label>
            <input  th:field="*{duree}" min="1" type="number" class="form-control" id="duree" aria-describedby="titreHelp">

        </div>
        <div class="row g-3">
            <div class="col">
                <label for="nomRealisateur" class="form-label">Nom réalisateur</label>
                <input th:field="*{realisateur.nom}" type="text" id="nomRealisateur" class="form-control" placeholder="Nom réalisateur" aria-label="Nom réalisateur">
            </div>
            <div class="col">
                <label for="prenomRealisateur" class="form-label">Prénom réalisateur</label>
                <input th:field="*{realisateur.prenom}" type="text" id="prenomRealisateur" class="form-control" placeholder="Prénom réalisateur" aria-label="Prénom réalisateur">
            </div>
        </div>


        <div class="listeActeurs">
        <div hidden="hidden"  class="row g-3 acteurLine">
            <div class="col">
                <label  class="form-label">Nom acteur</label>
                <input  type="text" class="form-control nom" placeholder="Nom acteur" aria-label="Nom acteur">
            </div>
            <div class="col">
                <label  class="form-label">Prénom acteur</label>
                <input type="text"  class="form-control prenom" placeholder="Prénom acteur" aria-label="Prénom acteur">
            </div>
        </div>

        <div  class="row g-3">
            <div class="col">
                <label class="form-label">Nom acteur</label>
                <input type="text" th:field="*{acteurs[0].nom}" class="form-control" placeholder="Nom acteur" aria-label="Nom acteur">
            </div>
            <div class="col">
                <label  class="form-label">Prénom acteur</label>
                <input type="text" th:field="*{acteurs[0].prenom}" class="form-control" placeholder="Prénom acteur" aria-label="Prénom acteur">
            </div>
        </div>

        </div>

        <button onclick="duplicate()" type="button" class="btn mt-2 btn-primary">Plus d'acteurs</button>


        <button type="submit" class="btn mt-2 btn-primary">Ajouter un nouveau film</button>
    </form>
</div>
<!-- Footer Fragment-->
<div th:replace="fragments/footer.html :: footer"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/duplicateActeur.js"></script>
</body>
</html>
