<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head.html :: head"></div>
<body>
<!-- Navbar Fragment-->
<div th:replace="fragments/navbar.html :: nav"></div>
<!-- Page Content-->
<div class="container mt-2 mb-2 px-4 px-lg-5">

    <form method="post" th:action="@{/connexion}" th:object="${membre}" >
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"><span th:text="#{labelUsername}"></span></label>
            <input  th:field="*{username}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><span th:text="#{labelPwd}"></span></label>
            <input type="password" th:field="*{password}" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"><span th:text="#{labelRenember}"></span></label>
        </div>
        <button type="submit" class="btn btn-primary"><span th:text="#{labelConnexion}"></span></button>
    </form>

</div>
<!-- Footer Fragment-->
<div th:replace="fragments/footer.html :: footer"></div>
<!-- Bootstrap core JS-->


</body>
</html>




