<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head.html :: head"></div>
<body>
<!-- Navbar Fragment-->
<div th:replace="fragments/navbar.html :: nav"></div>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">

        <div class="col-lg-12">
            <h1 class="font-weight-light"><span th:text="${film.titre}"></span></h1>
            <p><span th:text="${film.synopsis}"></span></p>

            <h2><span th:text="#{labelDureeFilm}"></span></h2>
            <p><span th:text="${film.duree}"></span></p>

            <h2><span th:text="#{labelGenre}"></span></h2>
            <p><span th:text="${film.genre?.nomGenre}"></span></p>

            <h2><span th:text="#{labelRealisateur}"></span></h2>
            <p><span th:text="${film.realisateur.prenom}"></span> <span th:text="${film.realisateur.nom}"></span></p>

            <h2><span th:text="#{labelActeurs}"></span></h2>
            <ul th:each="personne : ${film.acteurs}">
                <li><span th:text="${personne.prenom}"></span> <span th:text="${personne.nom}"></span></li>

            </ul>

            <h2><span th:text="#{labelAvis}"></span></h2>
            <ul th:each="avis : ${film.avisList}">
                <li><span th:text="${avis.note}"></span> <span th:text="${avis.avis}"></span></li>

            </ul>
        </div>
    </div>


</div>
<!-- Footer Fragment-->
<div th:replace="fragments/footer.html :: footer"></div>


</body>
</html>
