<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head.html :: head"></div>
<body>
<!-- Navbar Fragment-->
<div th:replace="fragments/navbar.html :: nav"></div>
<!-- Page Content-->
<div class="container  px-4 px-lg-5">

    <!-- Content Row-->
    <div class="row gx-4 mt-5 gx-lg-5" >
        <div class="col-md-4 mb-5" th:each="film : ${films}">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"><span th:text="${film.titre}"></span></h2>
                    <p class="card-text"><span th:text="${film.synopsis}"></span></p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" th:href="@{/film/{id}(id=${film.idFilm})}"><span th:text="#{labelPlusInfos}"></span></a>
                    <a class="btn btn-primary btn-sm" th:href="@{/film/nouvelAvis/{id}(id=${film.idFilm})}"><span th:text="#{labelAjoutAvis}"></span></a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Footer Fragment-->
<div th:replace="fragments/footer.html :: footer"></div>
<!-- Bootstrap core JS-->

<!-- Core theme JS-->

</body>
</html>
