<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head.html :: head"></div>
<body>
<!-- Navbar Fragment-->
<div th:replace="fragments/navbar.html :: nav"></div>
<!-- Page Content-->
<div class="container mt-2 mb-2 px-4 px-lg-5">

    <form method="post" th:action="@{/film/nouvelAvis/{id}(id=${film.idFilm})}" th:object="${avis}" >


        <div class="mb-3">
            <label class="form-label"><span th:text="#{labelCommentaire}"></span></label>
            <textarea  th:field="*{avis}" type="text" class="form-control" ></textarea>

        </div>

        <div class="mb-3">
            <label class="form-label"><span th:text="#{labelNote}"></span></label>
            <input  th:field="*{note}" min="0" max="5" type="number" class="form-control" >

        </div>





        <button type="submit" class="btn mt-2 btn-primary">Ajouter un nouvel avis </button>
    </form>
</div>
<!-- Footer Fragment-->
<div th:replace="fragments/footer.html :: footer"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/duplicateActeur.js"></script>
</body>
</html>
